port = 8080
# 写入客户端信息的超时时间, 单位秒
imWriteWait = 10
# 读取客户端信息超时时间， 单位秒
imReadWait = 60
# 允许最大读取大小
imReadMaxMessageSize = 512

[redis]
addr = "127.0.0.1:6379"
password = ""
# 业务库
db = 2

[upush]
appKeyAndroid = ""
masterSecreptAndroid = ""
appKeyIOS = ""
masterSecretIOS = ""

[etcd]
# 多个用英文","隔开
endpoints = 127.0.0.1:2379

[rpc]
port = 8972
